.parent{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100% !important;
}
.education{
    display: flex;
    justify-content: space-between;
}
.p__style1{
    font-weight: 150;
    margin-left: 15%;
}
.p__style2{
    font-weight: 150;
    margin-right:15%;
}
.p__style3{
    font-weight: 200;
}
  
.heading{
    align-content: center;
}